.header {
    margin: 50px 0;
    min-height: 200px;
}

.header-wrap {
    width: 1024px;
    margin: 0 auto;
}

.btn-cart {
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    background: transparent;
    color: #ccc;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-cart:hover {
    background: #ccc;
    color: #fff;
}

.products {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    position: relative;
    width: 350px;
    box-shadow: 9px 12px 28px #ccc;
    box-sizing: border-box;
    margin: 0 0 45px 0;
    background: #cccccc96;
    transition: all 0.5s;
}

.product-item img {
    width: inherit;
    height: 220px;
    transition: all 0.5s;
}

.product-item:hover .buy-btn {
    display: block;
}

.product-item:hover img {
    filter: brightness(50%);
}

.product-item h3 {
    padding: 0px 10px;
    font-size: 25px;
    margin: 7px 0;
}

.product-item p {
    padding: 0 10px;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

.buy-btn {
    display: none;
    position: absolute;
    top: 95px;
    left: 133px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    width: 88px;
    height: 36px;
    transition: all 0.5s;
}

.buy-btn:hover {
    background: #ccc;
    color: #fff;
    border: 1px solid #ccc;
}